.git/
build
dist
*.egg-info
*.egg/
*.pyc
*.swp
.tox
.coverage
*.DS_Store
*.pyc
*.gitignore
*.coverage
*.dockerignore
.tox
.venv
.pytest_cache
*.egg-info
scraper_api/secrets
tests
done
apis
tox.ini
pytest.ini
.tox
*.md
*.org
*.json
*.pem
*.csv
*.yml
__pycache__

# this rule (exclude everything) is missing
*
# Whitelist what needs to be part of the context using !
!poetry.lock
!pyproject.toml
!scraper_api/*.py
!scraper_api/api/*.py
!scraper_api/api/core/*.py
!scraper_api/api/schemas/*.py
!scraper_api/api/api_v1/*.py
!scraper_api/api/api_v1/endpoints/*.py
!scraper_api/scraper/*.py
!scraper_api/scraper/request_scraper/*.py
!scraper_api/scraper/request_scraper/spiders/*.py
!scraper_api/scraper/solar_scraper/*.py
!scraper_api/scraper/solar_scraper/*.cfg
!scraper_api/scraper/solar_scraper/spiders/*.py
!entrypoint.sh
